<!DOCTYPE html>
<html dir="rtl" style="font-family: 'Tahoma', Times, serif;">
<head>
      <link rel="stylesheet" href="/static/styleform.css">
    <script>
        function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            location.replace("out")
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 19,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);
};

function ShowHideDivOrg() {
        var chkYes = document.getElementById("other-org");
        var dvtext = document.getElementById("other-org-textbox");
        dvtext.style.display = chkYes.checked ? "block" : "none";
        };

function ShowHideDivJob() {
        var chkYes = document.getElementById("other-job");
        var dvtext = document.getElementById("other-job-textbox");
        dvtext.style.display = chkYes.checked ? "block" : "none";
        };

    </script>
    קבוצה {{ group }}
</head>
<body style="background-color:#E6F4FC;">
<center>


<h1>ניסוי</h1><br>

<h2>פרטים אישיים</h2>
  <br>

  <form action="/save_details" method="post" id="nameform">

        <div class="container">
          <p>
    <h3 style="color:black;"><b>מין:</b></h3>
      <input type="radio" id="male" name="sex" value="0" required="required">
      <label for="male">זכר</label>
      <input type="radio" id="female" name="sex" value="1">
      <label for="female">נקבה</label>
      <input type="radio" id="other" name="sex" value="2">
      <label for="other">אחר</label>
          </p>
        </div>
    <br>
    <br>
    <div class="container">
  <p>    <h3 style="color:black;"><b>גיל:</b></h3>
  <input type="number" id="age" name="age" required="required">
    </p>
  <br>
    </div><br>
    <div class="container">
   <p>    <h3 style="color:black;"><b>השכלה:</b></h3>
  <input type="radio" id="yesodi" name="edu" value="0" required="required">
  <label for="yesodi">יסודית</label>
  <input type="radio" id="tichon" name="edu" value="1">
  <label for="tichon">תיכונית</label>
  <input type="radio" id="handesai" name="edu" value="2">
  <label for="handesai">הנדסאי/ת</label>
  <input type="radio" id="first" name="edu" value="3">
  <label for="first">תואר ראשון</label>
  <input type="radio" id="sec" name="edu" value="4">
  <label for="sec">תואר שני</label>
  <input type="radio" id="firststud" name="edu" value="5">
  <label for="firststud">סטודנט/ית לתואר ראשון</label>
  <br><br><input type="radio" id="secstud" name="edu" value="6">
  <label for="secstud">סטודנט/ית לתואר שני</label>
   </p>
    </div>
    <br>
    <div class="container">
     <p><h3 style="color:black;"><b>במידה ואת/ה עובד/ת, מהו תחום הפעילות של הארגון?</b></h3>
  <input type="radio" id="soft" name="org" value="0" required="required" onclick="ShowHideDivOrg()">
  <label for="soft">תוכנה</label>
  <input type="radio" id="hard" name="org" value="1" onclick="ShowHideDivOrg()">
  <label for="hard">חומרה</label>
  <input type="radio" id="net" name="org" value="2" onclick="ShowHideDivOrg()">
  <label for="net">תקשורת</label>
  <input type="radio" id="edu" name="org" value="3" onclick="ShowHideDivOrg()">
  <label for="edu">אקדמיה/חינוך</label>
  <input type="radio" id="mark" name="org" value="4" onclick="ShowHideDivOrg()">
  <label for="mark">שיווקי</label>
  <input type="radio" id="stud" name="org" value="5" onclick="ShowHideDivOrg()">
  <label for="stud">אינני עובד/ת (סטודנט/ית)</label><br><br>
  <input type="radio" id="other-org" name="org" value="6" required="required" onclick="ShowHideDivOrg()">
  <label for="other-org">אחר</label>
  <div id="other-org-textbox" style="display: none">
      פירוט:
    <input type="text" id="org_other" name="org_other" />
  </div>
   </p>
    </div>
<br>
    <div class="container">
       <p><h3 style="color:black;"><b>במידה ואת/ה עובד/ת, מהו תפקידך בארגון?</b></h3>
  <input type="radio" id="ceo" name="job" value="0" required="required" onclick="ShowHideDivJob()">
  <label for="ceo">אינני עובד/ת (סטודנט/ית)</label>
  <input type="radio" id="it" name="job" value="1" onclick="ShowHideDivJob()">
  <label for="it">מתכנת/ת</label>
  <input type="radio" id="proj" name="job" value="2" onclick="ShowHideDivJob()">
  <label for="proj">בודק/ת תוכנה</label>
  <input type="radio" id="tl" name="job" value="3" onclick="ShowHideDivJob()">
  <label for="tl">אנליסט/ית</label><br><br>
  <input type="radio" id="tm" name="job" value="4" onclick="ShowHideDivJob()">
  <label for="tm">מנהל/ת מוצר</label>
  <input type="radio" id="prof" name="job" value="5" onclick="ShowHideDivJob()">
  <label for="prof">מנהל/ת של מנהלי מוצר</label>
  <input type="radio" id="student" name="job" value="6" onclick="ShowHideDivJob()">
  <label for="student">מנהל/ת של רשצי פיתוח</label>
  <input type="radio" id="pmo" name="job" value="7" onclick="ShowHideDivJob()">
  <label for="student">מנהל/ת פרויקטים</label>
  <br><br><input type="radio" id="other-job" name="job" value="8" onclick="ShowHideDivJob()">
  <label for="other-job">אחר</label>
   <div id="other-job-textbox" style="display: none">
      פירוט:
    <input type="text" id="job_other" name="job_other" />
  </div>
   </p>
    </div>
  <br>
    <div class="container">
    <p><h3 style="color:black;"><b>מספר שנות ניסיון מקצועי:</b></h3>

  <input type="number" id="exp" name="exp" required="required">
    </p>
    </div>
  <br>

  <br>
        </form><br>
  <button type="submit" form="nameform" value="Submit" style="height: 40px; width: 100px;">המשך</button>

</center>
<br>
<br>
</body>
</html>