<!DOCTYPE html>
<html dir="rtl" style="font-family: 'Tahoma', Times, serif;">
<head>
      <link rel="stylesheet" href="/static/styleform.css">
              קבוצה {{ group }}
</head>
<body style="background-color:#E6F4FC;">
<center>


<h1>שאלה אחרונה!</h1><br>

  <form action="/save_stress" method="post" id="nameform">

  <div class="container">
         <p><h3 style="color:black;"><b>באיזו מידה הנך מרגיש לחץ כעת?</b></h3>
           <label dir="rtl" align="right">
  <input type="radio" id="no" name="stress2" value=0 required="required">
  <label for="no">אינני חש/ה לחץ כלל</label>
  <input type="radio" id="low" name="stress2" value=1>
  <label for="low">חש/ה לחץ במידה מועטה</label>
  <input type="radio" id="med" name="stress2" value=2>
  <label for="med">חש/ה לחץ במידה בינונית</label>
  <input type="radio" id="high" name="stress2" value=3>
  <label for="high">חש/ה לחץ במידה רבה</label>
</label>
   </p>
  </div>
  <br>
  <br>
        </form><br>
  <button type="submit" form="nameform" value="Submit" style="height: 40px; width: 100px;">סיום</button>

</center>
<br>
<br>
</body>
</html>